body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
}

/*RATING STATE*/

.rating-state {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: hsl(213, 19%, 18%);
    width: 330px;
    height: 330px;
    padding: 30px;
    border-radius: 25px;
}
.star-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255,0.1);
    height: 25px;
    width: 25px;
    padding: 10px;
    border-radius: 50%;
}

h2 {
    font-size: 28px;
    margin: 0px;
}
p {
    font-size: 15px;
    color: hsl(216, 12%, 54%);
    margin: 0px;
    line-height: 25px;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    
}

li .rate-btn {
    color: hsl(216, 12%, 54%);
    background-color:rgba(255, 255, 255,0.1);
    font-size: 20px;
    padding: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}


li .rate-btn:focus {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

li .rate-btn:hover {
    cursor: pointer;
    background-color:hsl(25, 97%, 53%);
    color: white;
}


button#submit-btn {
    background-color:hsl(25, 97%, 53%);
    padding: 10px 25px;;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 12px;
    box-shadow: none;
    border: none;
}

button#submit-btn:hover{
    cursor: pointer;
    background-color:white;
    color: hsl(25, 97%, 53%);
}

/*THANK YOU STATE*/

form.thank-you-state {
    /*margin-top: 40px;*/
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(213, 19%, 18%);
    width: 330px;
    height: 330px;
    padding: 30px; 
    border-radius: 25px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.img-container img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.selected-message {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    background-color:rgba(255, 255, 255,0.1);
    padding: 8px 12px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);

}

form.thank-you-state h2 {
    font-size: 22px;
    margin: 0;
}

form.thank-you-state p {
    text-align: center;
}

/*ATTRIBUTION*/

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 10px;
}

.attribution a { 
    color:hsl(25, 97%, 53%); 
}